:root{
  /* px 化した 1vh / 1vw */
  --vh: 1vh;     /* 後で JSで上書きする */
  --vw: 1vw;     /* 同上 */

  /* 100vh,100vw  */
  --app-h: 100vh;
  --app-w: 100vw;
}

a {
    color: #fff;
}

body,
html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

html.noscroll {
    /* overflow-x: hidden; */
}

body {
    font-size: 15px;
    font-family: "Lora", 'Noto Sans JP', sans-serif;
    width: 100%;
    height: auto;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0.05em;
}

body.noscroll {
    overflow: hidden;
    height: 100%;
    touch-action: none;
    /* ← モバイルでも止める */
}


@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }

}



.container {
    width: 100%;
    overflow: hidden;
}

section {
    position: relative;
    width: 100%;
    min-height: var(--app-h);
    height: auto;
    transition: opacity 0.6s ease;
}

.inner {
    overflow: visible;
    width: 100%;
    height: 100%;
    min-height: var(--app-h);
    padding: 74px 94px;
    transition: top 0.4s ease, left 0.4s ease;
}

.inner.-active {
    /* position: fixed;
    top: 0;
    left: 0; */
}

iframe {
    width: 850px;
    height: 475px;
    aspect-ratio: 16/9;
}

@media screen and (max-width: 1440px) {
    .inner {
        padding: 74px calc(var(--vw) * 6.5);
    }
}

@media screen and (max-width:900px) {

    .inner {
        padding: 20px;
    }

    iframe {
        width: 100%;
        height: auto;
    }
}



/*
// -----------------------------------------------------------------
// ロード画面 start
// ----------------------------------------------------------------- 
*/
#loading {
    width: 100%;
    height: var(--app-h);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.6s ease forwards;
}

#loading.loaded {
    animation: fadeOut 0.6s ease forwards;
}

.spinner {
    writing-mode: vertical-rl;
    color: white;
    letter-spacing: 0.4em;
    line-height: 2;
    margin-bottom: 40px;
}

#progress-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
    /* ここで伸びる */
}

/* Firefox */
progress::-moz-progress-bar {
    background-color: #fff;
}

/* WebKit系（Chrome, Safari） */
progress::-webkit-progress-value {
    background-color: #fff;
}

/* 未完了部分（オプション） */
progress::-webkit-progress-bar {
    background-color: #000;
}

/* アニメーション */
@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: visible;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}


/*
// -----------------------------------------------------------------
// ロード画面 end
// ----------------------------------------------------------------- 
*/

/*
// -----------------------------------------------------------------
// ヘッダー start
// ----------------------------------------------------------------- 
*/

.header {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 86px;
    height: 48px;
    z-index: 1020;
    transition: opacity .6s ease .5s;
    opacity: 0;
    pointer-events: none;
}

.header .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border: none;
    background: transparent !important;
}

.header .close-button {
    width: 135px;
    top: 40px;
    left: auto;
    right: 60px;
    transform: translate(0);
    border: 1px solid;
    background: rgba(255, 255, 255, 0.1);
}



.hamburger__line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 63px;
    height: 1px;
    background-color: #fff;
    transition: opacity .5s ease 1s;
}

.hamburger__line:nth-of-type(1) {
    top: 14px;
}

.hamburger__line:nth-of-type(2) {
    top: 23px;
}

.hamburger__line:nth-of-type(3) {
    top: 32px;
}

.header .blur-layer {
    height: 800px;

    bottom: -230%;
    left: -320%;
    z-index: -1;
    /* will-change: transform; 
    transform: translateZ(0);  */
}

.header .nav {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.nav-sns {
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nav-sns a {
    display: inline-block;
    width: 25px;
}

.nav picture {
    width: 46%;
}


/* .nav-logo {
    width: 460px;
} */

.header .nav-list {
    width: fit-content;
    font-size: 45px;
    font-family: 'ogg';
    font-weight: 500;
    line-height: 1.1;
    height: 70px;
    margin-bottom: .4em;    
}

.header .nav-list a {
    height: 100%;
    display: block;
    color:rgba(255, 255, 255, 0.9);
}

.header .nav-list span {
    font-size: 12px;
}






.header.-active .hamburger {
    pointer-events: none;
}

.header.-active .blur-layer {
    transform: translate(-100%,100%) scale(4);
    /* width: 1200px;
    top: 150px;
    left: -1000px; */
}

.header.-active .modal-box {
    z-index: 200;
}

.header.-active .js-all-text {
    pointer-events: all;
    width: auto;
}

.header.-active .js-nav-logo {
    opacity: 1;
}


.header.-active .hamburger__line,
.header.-active~.container .news .inner,
.header.-active~.container .desc,
.header.-active~.container .blur-layer,
.header.-active~.container .title-box,
.header.-active~.container .cast-lists,
.header.-active~.container .img-box,
.header.-active~.container .movie-box,
.header.-active~.container .staff-lists,
.header.-active~.container .comment-lists-container,
.header.-active~.container .js-tabs,
.header.-active~.container .js-movie
{
    opacity: 0 !important;
    pointer-events: none;
}

@media screen and (max-width: 1250px) {
    .nav-sns {
        flex-direction: row;
        top: auto;
        left: 55px;
        bottom: 55px;
        transform: translateY(0);
    }
}

@media screen and (max-height: 1300px) {
    .header .nav-lists {
        overflow: scroll;
        scrollbar-width: none;
        /* Firefox用 */
    }

    .header .nav-lists::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari用 */
    }
}

@media screen and (max-width: 1000px) {
    .header .nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        gap: 5%;
    }

    .nav picture {
        width: 280px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 40px;
        height: 14px;
    }

    .header .button {
        height: 15px;
    }

    .header .close-button {
        height: 48px;
        top: 30px;
        right: 20px;
    }

    .hamburger__line {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }

    .hamburger__line:nth-of-type(1) {
        top: 0;
    }

    .hamburger__line:nth-of-type(2) {
        top: 50%;
    }

    .hamburger__line:nth-of-type(3) {
        top: 100%;
    }

    .header .blur-layer {
        bottom: -600%;
        left: -610%;
    }

    .header.-active .blur-layer {
        transform: scale(6);     
        /* width: 150vw;
        height: 150var(--app-h); */
        /* width: 800px; */
        /* top: 150px;
        left: -50%; */
        /* top: 150px;
        left: -1500%; */

        /* left: -300px; */
    }

    .header .nav {
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: calc(var(--vw) * 12);
    }

    .nav-sns {
        left: 30px;
        bottom: 15px;
        gap: 40px;
    }

    .nav-sns a {
        width: 27px;
    }

    .nav picture {
        width: calc(var(--vw) * 27);
    }

    .header .nav-lists {
        height: auto;
    }

    .header .nav-list {
        font-size: 47px;
        height: 86px;
        margin-bottom: .2em;
    }


    .header .nav-list span {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .nav-sns {
        gap: calc(var(--vw) * 7);
    }

    .nav-sns a {
        width: calc(var(--vw) * 5.3);
    }

    .header .nav-list {
        font-size: calc(var(--vw) * 8.8);
        height: calc(var(--vw) * 16);
        margin-bottom: .2em;
    }

    .header .nav-list span {
        font-size: calc(var(--vw) * 2.7);
    }
}

/*
// -----------------------------------------------------------------
// ヘッダー end
// ----------------------------------------------------------------- 
*/

/*
// -----------------------------------------------------------------
// fancybox
// ----------------------------------------------------------------- 
*/


/* ------------------------------ theater ------------------------------ */
#theater-content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    gap: 60px 0;
    color: #fff;
}

@media screen and (max-width: 768px) {
    #theater-content {
        gap: 16px 0;
    }
}

.theater {
    position: fixed;
    z-index: 10000;
    bottom: -47px;
    right: 30px;
    padding: 15px 65px;
    backdrop-filter: blur(5px);
    border-radius: 40px 40px 0 0;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, .15);
    color: #fff;
}

.theater.-disp {
    transition: background 0.3s, transform .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(-85%);
}

@media screen and (max-width: 768px) {
    .theater.-disp {
        transform: translateY(-132%);
    }
}

.theater-news {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

#theater-content{
    padding-bottom: 0;
}

#theater-content .title,
#theater-content .subtitle
{
    color: #fff;
}


#fancybox-1 .fancybox__slide{
    padding-bottom: 0;
}


#theater-content .news-title-list,
#theater-content .link {
    color: #fff;
    display: grid;
    grid-template-columns: 20% 55% 30%;        
    padding: 1.2em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

#theater-content .link {
    transition: background 0.3s;
}

#theater-content .carousel__button {
    top: 40px;
    right: 40px;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 1.5em 4.4em;
    transition: background 0.3s;
}

#theater-content .carousel__button::before {
    content: "close";
    font-size: 16px;
}

#theater-content .carousel__button svg {
    display: none;
}

.fancybox__content a:focus {
    outline: none !important;
}

.fancybox__backdrop {
    content: "close";
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
}

.theater-news{
    max-width: 1200px;
}

.news-title-list .prefecture{
    padding-right: .5em;

}

.news-title-list .address{
    padding-right: .5em;
}

#theater-content .news-lists {
    max-height: calc(var(--app-h) - 276px);
    overflow-y: auto;
    padding-bottom: 2em;
}




@media screen and (max-width: 768px) {
    .fancybox__slide {
        padding: 8px !important;
    }

    #theater-content .carousel__button {
        top: 20px;
        right: 20px;

    }

    #theater-content {
        padding: 10px;
        padding-bottom: 0;
    }

    #theater-content .title-box {
        margin-top: 70px;
    }

    .theater {
        font-size: 13px;
        padding: 10px 35px;
        border-radius: 32px 32px 0 0;
        right: 15px;
    }

    .theater-news {
        margin-top: 3em;
        width: 100%;
        padding: 0;
    }

    #theater-content .news-lists {
        max-height: calc(var(--app-h) - 250px);
    }

    #theater-content .news-list:last-child {
        margin-bottom: 4em;
    }



    #theater-content .news-title-list,
    #theater-content .news-list .link
    {
        grid-template-columns: 20% 58% 22%;        
    }

    #theater-content .news-title-list .date{
        max-width: 6em;
    }
    #theater-content .news-lists .date{
        max-width: 6em;
    }
}

/* ------------------------------ theater ------------------------------ */


/* ------------------------------ movie ------------------------------ */
#movie-normal,
#movie-teaser,
#movie-making,
#movie-m30s
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    gap: 200px 0;
    color: #fff;
}

#movie-normal .carousel__button,
#movie-teaser .carousel__button,
#movie-making .carousel__button,
#movie-m30s .carousel__button
{
    top: 40px;
    right: 40px;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 1.5em 4.4em;

}

#movie-normal .carousel__button::before,
#movie-teaser .carousel__button::before, 
#movie-making .carousel__button::before,
#movie-m30s .carousel__button::before 
{
    content: "close";
    font-size: 16px;
}

#movie-normal .carousel__button svg,
#movie-teaser .carousel__button svg,
#movie-making .carousel__button svg,
#movie-m30s .carousel__button svg 
{
    display: none;
}

.movie-img{
    aspect-ratio: 40/17;
    object-fit: cover;
}

/* ------------------------------ movie ------------------------------ */

/*
// -----------------------------------------------------------------
// fancybox
// ----------------------------------------------------------------- 
*/


/*
// -----------------------------------------------------------------
// ロード時MVアニメーション
// ----------------------------------------------------------------- 
*/

.bg-black {
    background: black;
    width: 100%;
    height: 500%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
}


.load-anime {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: var(--app-h);
    z-index: 100;
}

#lottie-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 60%;
    height: 90%;
}

#lottie-animation svg {
    transform: scale(1) !important;
}



.mv .catch {
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    writing-mode: vertical-rl;
    letter-spacing: 0.4em;
    line-height: 2;
    opacity: 0;
    white-space: nowrap;
    font-feature-settings: "palt";
}

.mv .catch2 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 200;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    font-size: 16px;
    writing-mode: vertical-rl;
    letter-spacing: 0.4em;
    line-height: 2;
    opacity: 0;
    white-space: nowrap;
    font-feature-settings: "palt";
    transition: opacity 0.5s;
}

#mv-video {
    filter: blur(5px);
    transition: filter 0.8s ease;
}


@media screen and (max-width: 1600px) {
    #lottie-animation svg {
        /* transform: scale(3) !important; */
    }

}

@media screen and (max-width: 768px) {
    #lottie-animation {
        width: 88%;
    }

    /* #lottie-animation svg {
        transform: scale(3) !important;

    } */

    .mv .catch {
        font-size: 11px;
        margin-bottom: auto;
        margin-left: auto;
    }

    .mv .catch2 {
        font-size: 10px;
        top: 1%;
        right: 3%;
        transform: translateY(0) scale(.9);
        color: rgba(255, 255, 255, 1);
    }
}


/*
// -----------------------------------------------------------------
// ロード時MVアニメーション
// ----------------------------------------------------------------- 
*/




/*
// -----------------------------------------------------------------
// component
// ----------------------------------------------------------------- 
*/
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -4;
    pointer-events: none;
}

.title-box {
    width: auto;
    z-index: 10;
    pointer-events: none;
    position: relative;
}

.title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 86px;
    font-family: 'ogg';
    font-weight: 500;
}

.subtitle {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.button {
    position: relative;
    display: inline-block;
    width: 135px;
    height: 48px;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    transition: background 0.3s;
}

/* blur layer：初期状態は丸マスク */
.blur-layer {
    position: absolute;
    width: 800px;
    aspect-ratio: 1 / 1;
    transition: all 1.2s ease-in-out;
    mask: url(#radial-mask);
    -webkit-mask: url(#radial-mask);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.05);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transform: scale(1.00001);
}

.blur-layer.-active {
    /* transform: scale(4); */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.sp-br {
    display: none;
}

.pc-br {
    display: inline;
}

@media screen and (max-width: 768px) {

    .title {
        font-size: 66px;
    }

    .subtitle {
        font-size: 14px;
        margin-top: .4em;
    }

    .sp-br {
        display: inline;
    }

    .pc-br {
        display: none;
    }
}

/*
// -----------------------------------------------------------------
// component
// ----------------------------------------------------------------- 
*/

/* hover--------------------------------- */
.news .news-list .link:hover {
    background: rgba(255, 255, 255, 0.25);
}

.button:hover {
    background: rgba(255, 255, 255, 0.25);
}

.theater:hover {
    background: rgba(255, 255, 255, 0.25);
}

#theater-content .link:hover,
#theater-content .carousel__button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.movie-button:hover {
    opacity: 1;
}

.trailer .movie-box .link:hover::before {
    background: rgba(255, 255, 255, 0.15);
}

/* hover--------------------------------- */

/*
// -----------------------------------------------------------------
// ボタン押した時の動き
// ----------------------------------------------------------------- 
*/

.js-title{
    transition: transform 2s ease;
}


.js-title.-active {
    transform: translateY(calc(-1 * 1px * var(--offset) + 40px));
    transition: right 0.8s ease-in-out 1s,
        left 0.8s ease-in-out 1s,
        top 0.8s ease-in-out 1s;
}

.js-all-text.-active {
    transition: opacity 0.5s ease-in-out 1.5s;
}

.js-nav-logo.-active {
    transition: opacity 0.5s ease-in-out 1.5s;
}

.js-text.-active {
    transition: opacity 0.3s ease-in-out 0.3s;
}

.js-btn.-active {
    transition:
        opacity 0.5s ease-in-out 1s,
        background 0.3s ease 0s;
}

.js-profile.-active {
    opacity: 1;
}

.js-sns.-active {
    opacity: 1;
}

.js-sns {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 1.5s;
}


.js-title
{
    transition: transform 1s ease;
    will-change: transform;

    /* transition: all 0.8s ease-in-out 1s; */
    transition: right 0.8s ease-in-out 1s,
        left 0.8s ease-in-out 1s,
        top 0.8s ease-in-out 1s,
        opacity 0.4s ease 0.4s;
}

.cast .cast-lists{
    transition: opacity 0.8s ease-in-out;    
}


.js-text {
    transition: opacity 0.8s ease-in-out 1s;
}

.js-all-text,
.js-btn {
    transition: opacity 0.5s ease-in-out 1.5s;
}

#comment .title.-open {
    font-size: 86px;
}

.js-all-text {
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 50;
    opacity: 0;
    line-height: 2;
    pointer-events: none;
    padding-bottom: 80px;
}

.header .js-all-text {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    #comment .title.-open {
        font-size: 36px;
    }

    .js-all-text {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        z-index: 50;
        opacity: 0;
        line-height: 2;
        pointer-events: none;
        padding-bottom: 80px;
    }
}

.js-profile {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.js-nav-logo {
    opacity: 0;
}

.js-all-text.-active {
    opacity: 1;
}

.js-text.-active {
    opacity: 0;
    pointer-events: none;
}

.js-btn {
    opacity: 0;
    pointer-events: none;
}

.js-btn.-active {
    opacity: 1;
    pointer-events: all;
}


/*
// -----------------------------------------------------------------
// ボタン押した時の動き
// ----------------------------------------------------------------- 
*/





/*
// -----------------------------------------------------------------
// MV
// ----------------------------------------------------------------- 
*/

.mv {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mv .mv-award {
    width: 360px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    opacity: 0;
    transition: opacity 0.5s;
}


.mv .inner {
    padding: 0;
}

.mv .sns {
    position: fixed;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px 0;
    z-index: 100;
    opacity: 0;
}


.mv .mv-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media screen and (max-width: 1250px) {
    .mv .mv-img {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .mv .mv-award {
        width: 132px;
        left: 20px;
        bottom: auto;
        top: 20px;
    }

    .mv .sns {

        position: fixed;
        top: auto;
        bottom: 15px;
        left: 20px;
        flex-direction: row;
        align-items: flex-end;
        gap: 0 25px;
        margin-left: 0;
    }

    .mv .sns img {
        width: 20px;
    }

    .mv .mv-img {
        width: 80%;
    }



}

/* 高さが700px以下のとき適用 */
@media (max-height: 700px) {
    .mv .mv-award {
        width: 110px;
    }
}

/*
// -----------------------------------------------------------------
// MV
// ----------------------------------------------------------------- 
*/







/*
// -----------------------------------------------------------------
// NEWS
// ----------------------------------------------------------------- 
*/
.news .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 106px;
}

.news .news-lists {
    width: 100%;
}

.news .news-list {
    width: 690px;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 1.6;
}


.news .news-list:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.news .news-list .link {
    font-size: 15px;
    display: flex;
    padding: .95em 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);    
    transition: background 0.5s;
}

.news .news-list .link .date {
    width: 7em;
    color: rgba(250, 250, 250, .85);
}

.news .news-list .link .text {
    width: calc(100% - 6em);
}


@media screen and (max-width: 900px) {
    .news .news-lists {
        max-height: calc(var(--vh) * 63);
        overflow-y: auto;
    }

    .news .news-list .link {
        font-size: 14px;
    }

    .news .inner {
        gap: 80px;
        padding-bottom: 120px;
    }

    .news .news-list {
        width: 100%;
    }

    .news .news-list .link {
        flex-direction: column;
        gap: 10px 0;
    }

    .news .news-list .link .text {
        width: 100%;
    }

}

/*
// -----------------------------------------------------------------
// NEWS
// ----------------------------------------------------------------- 
*/






/*
// -----------------------------------------------------------------
// intro
// ----------------------------------------------------------------- 
*/

.intro .inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: initial;
}

.intro .subtitle {
    margin-top: 1.2em;
}

.intro .title-box {
    display: block;
    position: absolute;
    top: 110px;
    left: 150px;
}

.intro .title-box.-active {
    /* top: 50px;
    left: 50px; */
}

.modal-box {
    width: 100%;
    height: var(--app-h);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.intro .desc .text-box {
    text-align: center;
    position: absolute;
    top: 320px;
    left: 190px;
    width: 450px;
    z-index: 10;
}

.desc .text-box .text {
    text-align: justify;
}

.intro .desc .text-box .text {
    line-height: 2.1;
    text-align: left;
}

.all-text-box {
    touch-action: auto;
}

.intro .all-text-box {
    position: absolute;
    top: 260px;
    /* left: 190px; */
    left: 0;

    overflow: scroll;
    /* width: 690px; */
    /* height: 500px; */
    height: calc(var(--app-h) - 260px);
    width: 100%;
    ;
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    pointer-events: none;
}

.intro .all-text-box::-webkit-scrollbar {
    display: none;
}

.intro .all-text-box.-active {
    pointer-events: all;
}

.intro .button {
    z-index: 10;
    margin-top: 27px;
    backdrop-filter: blur(2px);
}

.intro.-active .open-button {
    pointer-events: none;
}


.intro .close-button {
    position: absolute;
    top: 43px;
    right: 60px;
    z-index: 100;
}

.blur-layer {
    pointer-events: none !important;
}

/* blur layer：初期状態は丸マスク */
.intro .blur-layer {
    top: 38px;
    left: 0;
}


/* 活性時：scale拡大+border-radiusで角形に+マスク切り替え */
.intro .blur-layer.-active {
    left: 30%;
    transform: translateY(-50%) scale(4);
}


@media screen and (max-width: 768px) {
    .intro .close-button {
        top: 0px;
        right: 20px;
    }

    .intro .all-text-box {
        top: 260px;
        height: calc(var(--app-h) - 260px);
    }

    .intro .title-box {
        width: 100%;
        top: 80px;
        left: 6%;
    }

    .intro .blur-layer {
        width: calc(var(--vw) * 150);
        left: -30%;
        top: calc(var(--vw) * 18);
    }

    .intro .desc .text-box .text,
    .story .desc .text-box .text {
        font-size: 14px;
    }

    .intro .desc .text-box {
        top: 232px;
        left: 6%;
        width: 70%;
        text-align: left;
    }

    .intro .button {
        margin-right: auto;
    }

}


/*
// -----------------------------------------------------------------
// intro
// ----------------------------------------------------------------- 
*/




/*
// -----------------------------------------------------------------
// story
// ----------------------------------------------------------------- 
*/
.story .inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: initial;
}

.story .subtitle {
    margin-top: 1.2em;
}

.story .title-box {
    display: block;
    position: absolute;
    top: 240px;
    right: 363px;
    transition: transform 1.5s ease;
    will-change: transform;
}

.story .title-box.-active {
    /* top: 50px;
    right: calc(100vw - 284px - 100px); */
    /* 284pxはタイトルの幅 */
}

.story .desc .text-box {
    text-align: center;
    position: absolute;
    top: 360px;
    right: 160px;
    width: 450px;
    z-index: 10;
}



.story .desc .text-box .text {
    line-height: 2.1;
}

.story .all-text-box {
    position: absolute;
    top: 186px;
    left: 0;

    overflow: scroll;
    height: calc(var(--app-h) - 200px);
    width: 100%;
    ;
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    pointer-events: none;

}

.story .all-text-box::-webkit-scrollbar {
    display: none;
}

.story .all-text-box.-active {
    pointer-events: all;
}


.story .button {
    z-index: 10;
    margin-top: 27px;
    backdrop-filter: blur(2px);
}

.story.-active .open-button {
    pointer-events: none;
}


.story .close-button {
    position: absolute;
    top: 40px;
    right: 60px;
    z-index: 100;
}

/* blur layer：初期状態は丸マスク */
.story .blur-layer {
    top: 100px;
    right: 10px;
}


/* 活性時：scale拡大+border-radiusで角形に+マスク切り替え */
.story .blur-layer.-active {
    left: 30%;
    transform: translateY(-50%) scale(4);
}

@media screen and (max-width: 768px) {
    .story .text-box {
        width: 100%;
    }

    .story .title-box {
        top: 80px;
        right: 5%;
    }

    .story .desc .text-box {
        top: 161px;
        right: 6%;
        width: 70%;
        text-align: left;
    }

    .story .button {
        display: block;
        margin-left: auto;
        margin-right: 0;
    }

    .story .blur-layer {
        width: calc(var(--vw) * 150);
        right: -30%;
        top: calc(var(--vw) * 6);
    }

    .story .close-button {
        top: 0px;
        right: 20px;
    }

}

/* .story video {
    opacity: 0;
} */

/*
// -----------------------------------------------------------------
// story
// ----------------------------------------------------------------- 
*/



/*
// -----------------------------------------------------------------
// trailer
// ----------------------------------------------------------------- 
*/

.trailer video {
    top: calc(var(--vh) * -5);
    left: calc(var(--vw) * -5);
    width: calc(var(--vw) * 110);
    height: calc(var(--vh) * 110);
    filter: blur(20px);
    transform: scale(1.1);
    /* ブラーによるはみ出し防止のため拡大 */
    transition: opacity 0.5s ease;
}

.trailer #normal{
    z-index: -1;
}

.trailer #teaser {
    z-index: -2;
}



#intro,
#story,
#trailer,
#comment,
#cast,
#staff
{
    transition: opacity 0.6s ease;
}

.trailer .js-movie {
    position: relative;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease;
}

.trailer .js-movie .link {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trailer .js-movie .link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    filter: blur(2px);
    z-index: -1;
    transition: background 0.3s;
}

.trailer .js-tabs {
    display: flex;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 340%);
    border: 1px solid #fff;
    border-radius: 100px;
}

.trailer .js-tabs .js-tab-movie {
    font-size: 15px;
    line-height: 2;
    width: 166px;
    height: 62px;
    border: none;
    background: transparent;
    transition: background .5s;
    color: rgba(255, 255, 255, 0.9);
}


.trailer .js-tabs .js-tab-movie.-normal {
    border-radius: 100px 0 0 100px;
}



.trailer .js-tabs .js-tab-movie.-teaser {
    border-radius: 0 100px 100px 0;
}

.trailer .js-tabs .js-tab-movie:hover {
    background: rgba(255, 255, 255, 0.45);
}

.trailer .js-tabs .js-tab-movie.-active {
    background: rgba(255, 255, 255, 0.45);
}

.js-tab-movie{
    position: relative;
}

.js-tab-movie + .js-tab-movie::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 15px;
    background: #fff;
}

@media screen and (max-width: 900px) {
    .trailer video {
        width: calc(var(--vw) * 120);
    }


    .trailer .js-movie {
        width: 92%;
    }

    .trailer .js-movie .link {
        width: 19%;
    }

    .trailer .js-tabs .js-tab-movie {
        font-size: 11px;
        width: 25%;
        height: 48px;
    }
}

@media screen and (max-width: 768px) {


    .trailer .title {
        font-size: 42px;
    }

    .trailer .subtitle {
        font-size: 10px;
    }
}

@media screen and (max-width: 900px) {
    .trailer .js-tabs {
        max-width: 360px;
        width: 93%;
        transform: translate(-50%, 420%);
    }
}

@media screen and (max-width: 800px) {
    .trailer .js-tabs {
        transform: translate(-50%, 380%);
    }
}

@media screen and (max-width: 700px) {
    .trailer .js-tabs {
        transform: translate(-50%, 320%);
    }
}

@media screen and (max-width: 600px) {
    .trailer .js-tabs {
        transform: translate(-50%, 260%);
    }
}

@media screen and (max-width: 500px) {
    .trailer .js-tabs {
        transform: translate(-50%, 224%);
    }
}


/*
// -----------------------------------------------------------------
// trailer
// ----------------------------------------------------------------- 
*/

/*
// -----------------------------------------------------------------
// cast
// ----------------------------------------------------------------- 
*/
.swiper {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1 !important;
}

.swiper .swiper-slide::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(27, 36, 46, 0.6);
}

.swiper .swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cast {
    height: 100%;
}


.cast .inner {
    overflow: visible !important;
    height: auto;
}

.cast .title-box {
    position: sticky;
    top: 75px;
    z-index: 1010;
}


.cast.-active .open-button {
    pointer-events: none;
}


.cast .cast-lists {
    max-width: 1030px;
    width: 100%;
    margin: 10em auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2em 2%;
}

.cast .cast-list {
    position: relative;
    width: 32%;
    opacity: 0;
}

.cast .cast-img-box {
    overflow: hidden;
}

.cast .cast-list img {
    cursor: pointer;
    transition: transform 0.5s;
}


.cast-role {
    font-size: 16px;
    font-weight: 100;
    margin: .8em 0 .5em;
    color: rgba(255, 255, 255, 0.6);
}

.cast-name {
    font-size: 26px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
}

.cast .cast-list .cast-button {
    position: absolute;
    bottom: 47px;
    right: 8px;
}

@media screen and (max-width: 768px) {
    .cast .cast-list .cast-button {
        bottom: 28px;
        right: 5px;
    }
}


.cast-button {
    color: #fff;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 1;
}


/* モーダル */

.cast-modal-box {
    transition: opacity 1s ease .4s !important;
}


/* 例: デフォルトは非表示 */
.modal-box.js-modal-box {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* -active が付くと表示 */
.modal-box.js-modal-box.-active {
    opacity: 1;
    pointer-events: auto;
}

.cast-modal-box {
    pointer-events: auto;
}


.cast-modal {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    /* max-width: 960px; */
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 10;
    gap: 70px;
    /* padding-top: 20em; */
}

.cast-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cast-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 36, 46, 0.7);
    backdrop-filter: blur(10px);
}

.cast-name.-modal {
    font-size: 29px;
}

.cast-profile {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.cast-profile-inner {
    width: 432px;
    padding-top: 20em;
}

.cast-det {
    width: 50%;
    height: 100%;
    overflow: scroll;
    padding-top: 20em;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cast-det-inner {
    width: 455px;

}

.cast-det::-webkit-scrollbar {
    display: none;
}

.cast-profile-title,
.cast-comment-title {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: .4em;
    color: rgba(255, 255, 255, 0.6);
}

.cast-profile-text,
.cast-comment-text {
    font-size: 15px;
    line-height: 2;
}

.cast-profile-text {
    color: rgba(255, 255, 255, 0.85);    
    margin-bottom: 4em;
}

.cast-comment-text {
    color: rgba(255, 255, 255, 0.85);    
    padding-bottom: 10em;
}


.cast .close-button {
    position: absolute;
    top: 43px;
    right: 60px;
    z-index: 100;
}

@media screen and (max-width: 1000px) {

    .cast-profile-inner{
        width: 455px;
    }

    .cast-modal{
        gap: 32px;
    }

    .cast-det-inner{
        padding-top: 20px;
    }


    .cast .inner {
        padding: 20px;
    }

    .cast .cast-lists {
        margin-top: 4em;
        gap: 2em 4%;
    }

    .cast .cast-list {
        width: 48%;
    }

    .cast-role {
        font-size: 10px;
    }

    .cast-name {
        font-size: 17px;
    }

    .cast .cast-list .cast-button {
        width: 24px;
        height: 24px;
        font-size: 11px;
        bottom: 30px;
    }



    /* モダール */
    .cast-modal {
        max-width: 500px;
        flex-direction: column;
    }

    .cast-profile {
        justify-content: center;
        width: 100%;
    }

    .cast-profile-inner {
        padding-top: 12em;
    }

    .cast-profile.-square {
        margin: 0 auto;
        width: 70%;
    }

    .cast-role.-modal {
        font-size: 13px;
        margin-top: 1.5em;
    }

    .cast-name.-modal {
        font-size: 22px;
    }

    .cast-det {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-top: 0;
    }

    .cast-profile-text,
    .cast-comment-text {
        font-size: 14px;
    }

    .cast-comment-text {
        padding-bottom: 2em;
    }



}

@media screen and (max-width: 768px) {

    .cast-det-inner{
        padding-top: 20px;
    }

    .cast {
        margin-bottom: 32px;
    }

    .cast .title {
        font-size: 44px;
    }

    .cast .subtitle {
        font-size: 12px;
    }


    .cast .title-box {

        top: 30px;
    }

    /* モダール */
    .cast-modal {
        max-width: 100%;
        width: 90%;
        gap: 20px;
    }

    .cast-profile-inner {
        padding-top: 9em;
    }

    .cast-profile-inner img {
        max-height: 225px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .cast .close-button {
        top: 20px;
        right: 20px;
    }
}


/*
// -----------------------------------------------------------------
// cast
// ----------------------------------------------------------------- 
*/

/*
// -----------------------------------------------------------------
// staff
// ----------------------------------------------------------------- 
*/
.staff {
    height: 100%;
    margin-bottom: calc(var(--vh) * 40);
}

.staff-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 100%;
    width: 22px;
    height: 22px;
    font-size: 10px;
    line-height: 1;
    margin-left: .3em;
}

.staff .inner {
    overflow: visible !important;
    height: auto;
}

.staff .title-box {
    position: sticky;
    top: 75px;
}

.staff-bg-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.staff-bg-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 36, 46, 0.95);
    z-index: 1;
}

.staff-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.staff-lists {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em 0;
}

.staff-list {
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 2;
    margin-top: calc(var(--vh) * 80);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

.gsap-trigger {
    width: 100%;
}

.staff-list.-m1 {
    margin-top: 10em;
}

.staff-list .m-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4em;
}

.staff-column {
    display: flex;
    justify-content: center;
}

.staff-column dl:nth-child(2) {
    margin: 0 6em;
}

.staff-list-two {
    display: flex;
    width: 100%;
    justify-content: center;
}

.staff-list-two dd:nth-child(2) {
    margin-left: 2em;
}

.staff-list dt {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.staff-list dd {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
}



/* モーダル */

.staff-modal-box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease 0.5s !important;
}

.staff-modal {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 940px;
    max-height: 300px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.staff-bg {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 36, 46, 0.7); */
    /* backdrop-filter: blur(10px); */
}

.staff-role {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: .5em;
    color: rgba(255, 255, 255, 0.6);
}


.staff-name.-modal {
    font-size: 29px;
    font-weight: 400;
}

.staff-profile {
    width: fit-content;
}

.staff-det {
    width: 78%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.staff-det::-webkit-scrollbar {
    display: none;
}

.staff-profile-title {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: .4em;
    color: rgba(255, 255, 255, 0.6);
}

.staff-profile-text {
    font-size: 15px;
    line-height: 2;
}

.staff .close-button {
    position: absolute;
    top: 43px;
    right: 60px;
    z-index: 100;
}

@media screen and (max-width: 1000px) {
    .staff-column dl:nth-child(2) {
        margin: 0 3em;
    }

    .staff-list {
        font-size: 14px;
    }

    .staff-list {
        display: flex;
        flex-direction: column;
    }

    .staff-list.-director {
        /* margin-top: 400px; */
    }


    .staff-list dt {
        font-size: 10px;
        margin-bottom: .4em;
    }

    .staff-list dd {
        font-size: 14px;
    }

    /* モーダル */
    .staff-modal {
        max-width: 500px;
        width: 100%;
        max-height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 25em;
    }

    .staff-profile {
        margin-bottom: 4em;
    }

    .staff-det {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .staff {
        margin-bottom: 400px;
    }

    .staff-modal {
        max-width: 500px;
        width: 90%;
        margin-top: 25em;
    }

    .staff .title-box {
        top: 30px;
    }

    .staff .title {
        font-size: 44px;
    }

    .staff .subtitle {
        font-size: 12px;
    }

    .staff-list {
        margin-top: 40em;
    }

    .staff-bg {
        object-position: 80%;
    }

    /* モーダル */
    .staff-role {
        font-size: 13px;
    }


    .staff-name.-modal {
        font-size: 22px;
    }

    .staff-profile-text {
        font-size: 14px;
    }

    .staff .close-button {
        top: 20px;
        right: 20px;
    }
}



/*
// -----------------------------------------------------------------
// staff
// ----------------------------------------------------------------- 
*/

/*
// -----------------------------------------------------------------
// comment
// ----------------------------------------------------------------- 
*/
.comment .inner {
    overflow: visible !important;
}

.comment-lists {
    /* max-width: 740px; */
    width: 100%;
    margin: 140px auto 0;
    /* display: flex;
    justify-content: space-between; */
    column-count: 3;
    column-gap: 56px;
}

.comment-lists.-inline {
    margin-top: calc(var(--vh) * 12);
    max-width: 1100px;
    padding-left: 2em;
    padding-right: 2em;
}

/* .comment-lists.-famous {
    column-count: 2;
} */

/* .comment-lists.-modal.-famous {
    column-count: 3;
}

@media screen and (max-width: 900px) {
    .comment-lists.-famous {
        column-count: 2;
    }    
} */


.comment-list {
    display: block;
    width: 100%;
    break-inside: avoid;
    margin-bottom: 72px;
    white-space: normal;
    word-break: break-word;
    line-height: 1.6;

}

.comment-text {
    font-size: 15px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.85);    
}

.comment-text span {
    font-weight: bold;
}

.comment-role {
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}


.comment-name {
    font-size: 29px;
    font-weight: 400;
    text-align: center;
}

.comment-name span {
    font-size: 16px;
    vertical-align: baseline;
    margin-left: .2em;
}

.comment-button {
    text-align: center;
    margin-top: 3.8em;
}

@media screen and (max-width: 768px) {
    .comment-button {
        margin-top: 16px;
    }
}



/* モーダル */

.comment-modal-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.5s ease 0.5s !important;
}

.comment-lists-box {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.comment-lists-wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
    height: calc(var(--app-h) - 320px);
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.comment-lists.-modal {
    width: 100%;
}

.comment-modal-box .comment-lists.-modal {
    opacity: 0;
    pointer-events: none;
}

.comment-modal-box.-active .comment-lists.-modal {
    opacity: 1;
    pointer-events: auto;
}


.comment-lists.-modal {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    /* display: flex;
    flex-wrap: wrap; */
    height: auto;
    max-width: 1100px;
    padding-bottom: 40px;
}

.comment-lists.-modal.-audience .comment-list {
    /* width: 30%; */
}

.comment-lists.-modal.-audience .comment-name {
    font-size: 20px;
}


/* .comment-lists.-modal.-audience,
.comment-lists.-modal.-famous {
    position: absolute!important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
} */


.comment-lists.-modal.-audience {}

.comment-lists.-modal.-famous {
    opacity: 1;
    pointer-events: auto;
    max-width: 1100px;
}

.comment-lists.-modal.-famous .comment-lists{
    column-count: 3;
}

.comment-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 36, 46, 0.7);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.comment-role {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}


.comment-name.-modal {
    font-size: 29px;
    font-weight: 400;
}

.comment-profile {
    width: fit-content;
}

.comment-det {
    width: 78%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.comment-det::-webkit-scrollbar {
    display: none;
}

.comment-profile-title {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: .4em;
    color: rgba(255, 255, 255, 0.6);
}

.comment-profile-text {
    font-size: 15px;
    line-height: 2;
}

.comment .close-button {
    position: absolute;
    top: 43px;
    right: 60px;
    z-index: 100;
}

.comment .js-tabs {
    display: flex;
    position: relative;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-top: 230px;
    margin-bottom: 30px;
}

.comment .js-tabs::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 15px;
    background: #fff;
}

.comment .js-tabs .js-tab-comment {
    font-size: 15px;
    font-weight: 600;
    ;
    line-height: 2;
    width: 166px;
    height: 62px;
    border: none;
    border-radius: 100px 0 0 100px;
    color: #fff;
    background: transparent;
    transition: background .5s;
}

@media screen and (max-width: 768px) {
    .comment .js-tabs .js-tab-comment {
        height: 48px;
        width: 146px;
        font-size: 13px;

    }
}

.comment .js-tabs .js-tab-comment.-famous {
    border-radius: 100px 0 0 100px;
}

.comment .js-tabs .js-tab-comment.-audience {
    border-radius: 0 100px 100px 0;
}

.comment .js-tabs .js-tab-comment:hover {
    background: rgba(255, 255, 255, 0.45);
}

.comment .js-tabs .js-tab-comment.-active {
    background: rgba(255, 255, 255, 0.45);
}

.comment-text + .comment-text{
    margin-top: 1em;
}

.comment-text + .comment-name{
    margin-top: .8em;
}
.comment-text + .comment-role
{
    margin-top: 1.8em;
}


@media screen and (max-width: 1000px) {
    .comment-lists-container {
        max-width: 730px;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px) {
    .comment-lists {
        column-count: 2;
        column-gap: 40px;
    }

    .comment-list {
        margin-bottom: 48px;
    }

    .comment-text + .comment-text{
        margin-top: .4em;
    }

    .comment-text + .comment-name,
    .comment-text + .comment-role{
        margin-top: 1em;
    }

}


@media screen and (max-width: 500px) {
    .comment .title {
        font-size: 44px;
    }

    .comment .subtitle {
        font-size: 12px;
    }

    .comment-text {
        font-size: 14px;
    }

    .comment-role {
        font-size: 13px;
    }


    .comment-name {
        font-size: 22px;
    }

    .comment-name span {
        font-size: 14px;
    }

    .comment-lists {
        display: flex;
        flex-direction: column;
    }

    .comment-lists.-inline {
        margin-top: 120px;
    }

    .comment-list {
        margin-bottom: 40px;
    }

    .comment-lists-wrap {
        padding: 32px 20px;
        height: calc(var(--app-h) - 182px);
    }

    .comment .js-tabs {
        margin-top: 120px;
        margin-bottom: 12px;
    }

    .comment .close-button {
        top: 30px;
        right: 20px;
    }
}


/*
// -----------------------------------------------------------------
// comment
// ----------------------------------------------------------------- 
*/


/*
// -----------------------------------------------------------------
// footer
// ----------------------------------------------------------------- 
*/

#footer .inner {
    padding-bottom: 0;
}

#footer-video {
    z-index: -1;
}

.footer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px !important;
}



.footer .img-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 55px 0;
    width: 100%;
    opacity: 0;
    margin-top: 400px;
    height: calc(var(--vh) * 70);
}

.footer .sns {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.footer .sns a img {
    opacity: .7;
    transition: opacity .5s ease-out;
}


.footer .sns a:hover img {
    opacity: 1;
}

.footer .copy {
    margin-top: 75px;
}

@media screen and (max-width: 768px) {
    .footer .copy {
        width: 100%;
    }
}

.footer .credit-box {
    font-size: 12px;
    margin-top: 10em;
    color: rgba(255, 255, 255, 0.75);
}

.footer .credit-box a {
    color: rgba(255, 255, 255, 0.75);
    transition: color .5s ease-out;
}

.footer .credit-box a:hover {
    color: #fff;
}

.footer .credit-lists {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    line-height: 1.8;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.footer-img {
    width: auto;
    opacity: .8;
    height: fit-content;
    max-height: 80%;
}

.footer .credit-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: start;
    flex-direction: row;
}

.footer .credit-list.m-left {
    margin-left: 17px;
}

.footer .credit-list-data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .footer .credit-box {
        font-size: 10px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        position: absolute;
        left: calc(var(--vw) * 4);
        bottom: 20px;
    }

    .footer .credit-lists {
        position: relative;
        left: 0;
    }

    .footer .credit-list.m-left {
        margin-left: 13.5px;
    }

    .footer .img-box {
        margin-bottom: calc(var(--vh) * 25);
        gap: 0 0;
    }

    .footer .sns {
        margin-top: calc(var(--vh) * 5);
    }

    .footer .sns img {
        width: 50px;
        height: auto;
    }
}


@media screen and (max-width: 1000px) {
    .footer .credit-box {
        font-size: 10px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        position: absolute;
        left: calc(var(--vw) * 4);
        bottom: 20px;
    }

    .footer .credit-lists {
        position: relative;
        left: 0;
    }

    .footer .credit-list.m-left {
        margin-left: 13.5px;
    }

    .footer .img-box {
        margin-top: 200px;
        margin-bottom: calc(var(--vh) * 25);
        gap: 0 0;
    }

    .footer .sns {
        margin-top: calc(var(--vh) * 5);
    }

    .footer .sns img {
        width: 50px;
        height: auto;
    }
}





/*
// -----------------------------------------------------------------
// footer
// ----------------------------------------------------------------- 
*/



.rect-blur {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    mask: url(#soft-rect-mask);
    -webkit-mask: url(#soft-rect-mask);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 100;
    pointer-events: none;
}

.video-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 12px;
    /* 角をしっかりつけるなら */
}



.scroll-hidden {
    overflow-y: scroll;

    /* Firefox */
    scrollbar-width: none;

    /* Chrome, Safari (WebKit系) */
    -ms-overflow-style: none;
    /* IE, Edge */
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}






.cast-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);
    z-index: 1000;
    color: #fff;
}

.cast-overlay.hidden {
    display: none
}

/* .overlay-inner{max-width:600px; padding:2rem; text-align:left} */
/* .overlay-inner img{width:100%; height:auto; margin:1.2rem 0} */
.close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem
}