a {
    color: #fff;
}

body,
html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

html.noscroll {
    overflow-x: hidden;
}

body {
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    height: auto;
    color: #fff;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }

}



.container {
    width: 100%;
    overflow: hidden;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.inner {
    width: 100%;
    height: 100%;
    padding: 74px 94px;
    transition: top 0.4s ease, left 0.4s ease;
}

.inner.-active {
    /* position: fixed;
    top: 0;
    left: 0; */
}

iframe {
    width: 850px;
    height: 475px;
    aspect-ratio: 16/9;
}

@media screen and (max-width:900px) {

    .inner {
        padding: 20px 15px;
    }

    iframe {
        width: 100%;
        height: auto;
    }
}

/*
// -----------------------------------------------------------------
// fancybox
// ----------------------------------------------------------------- 
*/

/* ------------------------------ theater ------------------------------ */
#theater-content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    gap: 200px 0;
    color: #fff;
}

.theater {
    position: fixed;
    z-index: 200;
    bottom: -41px;
    right: 30px;
    padding: 15px 65px;
    backdrop-filter: blur(4px);
    border-radius: 40px 40px 0 0;
    border: 1px solid #fff;
}

.theater-news {
    width: 1120px;
    margin: 0 auto;
    padding: 0 50px;
}

#theater-content .news-title-list,
#theater-content .link {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    padding: 1.2em 0;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

#theater-content .carousel__button {
    font-family: 'ogg';
    top: 40px;
    right: 40px;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 1.5em 4.4em;

}

#theater-content .carousel__button::before {
    content: "close";
    font-size: 16px;
}

#theater-content .carousel__button svg {
    display: none;
}

.fancybox__backdrop {
    content: "close";
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
}

@media screen and (max-width: 768px) {
    .fancybox__slide {
        padding: 8px !important;
    }

    #theater-content .carousel__button {
        top: 20px;
        right: 20px;

    }

    #theater-content {
        padding: 10px;
    }

    #theater-content .title-box {
        margin-top: 70px;
    }

    .theater {
        font-size: 13px;
        padding: 10px 35px;
        border-radius: 32px 32px 0 0;
        right: 15px;
    }

    .theater-news {
        width: 90%;
        padding: 0;
    }
}

/* ------------------------------ theater ------------------------------ */


/* ------------------------------ movie ------------------------------ */
#movie {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    gap: 200px 0;
    color: #fff;
}

#movie .carousel__button {
    font-family: 'ogg';
    top: 40px;
    right: 40px;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 1.5em 4.4em;

}

#movie .carousel__button::before {
    content: "close";
    font-size: 16px;
}

#movie .carousel__button svg {
    display: none;
}

/* ------------------------------ movie ------------------------------ */

/*
// -----------------------------------------------------------------
// fancybox
// ----------------------------------------------------------------- 
*/


/*
// -----------------------------------------------------------------
// ロード時MVアニメーション
// ----------------------------------------------------------------- 
*/

.bg-black {
    background: black;
    width: 100%;
    height: 500%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
}

.bg-sp {
    background: black;
    width: 100%;
    height: 500%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    z-index: 0;
    transition: opacity 0.8s ease; /* ← ここでふわっと */    
}

@media (min-width: 769px) {
    .bg-sp {
      display: none;
    }
}

.load-anime {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

#lottie-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    height: 100%;
}

#lottie-animation svg {
    transform: scale(1.5) !important;
}



.mv .catch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    writing-mode: vertical-rl;
    letter-spacing: 0.4em;
    line-height: 2;
    opacity: 0;
    white-space: nowrap;
    font-feature-settings: "palt";
}


@media screen and (max-width: 1600px) {
    #lottie-animation svg {
        /* transform: scale(3) !important; */
    }

    .mv .catch {
        font-size: 11px;
        margin-bottom: auto;
        margin-left: auto;
        /* transform: scale(3) !important; */
    }
}

@media screen and (max-width: 768px) {
    #lottie-animation {
        width: 95%;
    }

    #lottie-animation svg {
        transform: scale(3) !important;

    }
}

@media screen and (max-width: 768px) {
    #lottie-animation {
        width: 95%;
    }

    #lottie-animation svg {
        transform: scale(3) !important;

    }
}

/*
// -----------------------------------------------------------------
// ロード時MVアニメーション
// ----------------------------------------------------------------- 
*/




/*
// -----------------------------------------------------------------
// component
// ----------------------------------------------------------------- 
*/
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.title-box {
    width: auto;
    z-index: 10;
    pointer-events: none;
}

.title {
    color: #fff;
    font-size: 86px;
    font-family: 'ogg';
}

.subtitle {
    font-size: 15px;
    color: #fff;
}

.button {
    position: relative;
    display: inline-block;
    width: 135px;
    height: 48px;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/* blur layer：初期状態は丸マスク */
.blur-layer {
    position: absolute;
    width: 800px;
    aspect-ratio: 1 / 1;
    transition: all 1.2s ease-in-out;
    mask: url(#radial-mask);
    -webkit-mask: url(#radial-mask);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.05);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.blur-layer.-active {
    transform: scale(4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.sp-br {
    display: none;
}

@media screen and (max-width: 768px) {

    .title {
        font-size: 66px;
    }

    .subtitle {
        font-size: 14px;
    }

    .sp-br {
        display: block;
    }
}

/*
// -----------------------------------------------------------------
// component
// ----------------------------------------------------------------- 
*/

/*
// -----------------------------------------------------------------
// ボタン押した時の動き
// ----------------------------------------------------------------- 
*/

.js-title.-active {
    transform: translateY(calc(-1 * 1px * var(--offset) + 40px));
    transition: right 0.8s ease-in-out 1s,
        left 0.8s ease-in-out 1s,
        top 0.8s ease-in-out 1s;
}

.js-all-text.-active {
    transition: opacity 0.5s ease-in-out 1.5s;
}

.js-text.-active {
    transition: opacity 0.3s ease-in-out 0.3s;
}

.js-btn.-active {
    transition: opacity 0.5s ease-in-out 1.5s;
}

.js-title {

    transition: transform 1s ease;
    will-change: transform;

    /* transition: all 0.8s ease-in-out 1s; */
    transition: right 0.8s ease-in-out 1s,
        left 0.8s ease-in-out 1s,
        top 0.8s ease-in-out 1s;
}

.js-text {
    transition: opacity 0.8s ease-in-out 1s;
}

.js-all-text,
.js-btn {
    transition: opacity 0.5s ease-in-out;
}

.js-all-text {
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 50;
    opacity: 0;
    line-height: 2;
    pointer-events: none;
    padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
    .js-all-text {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        z-index: 50;
        opacity: 0;
        line-height: 2;
        pointer-events: none;
        padding-bottom: 80px;
    }
}

.js-all-text.-active {
    opacity: 1;
}

.js-text.-active {
    opacity: 0;
    pointer-events: none;
}

.js-btn {
    opacity: 0;
    pointer-events: none;
}

.js-btn.-active {
    opacity: 1;
    pointer-events: all;
}


/*
// -----------------------------------------------------------------
// ボタン押した時の動き
// ----------------------------------------------------------------- 
*/





/*
// -----------------------------------------------------------------
// MV
// ----------------------------------------------------------------- 
*/

.mv {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mv .inner {
    padding: 0;
}

.mv .sns {
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px 0;
    z-index: 100;
    opacity: 0;
}


.mv .mv-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media screen and (max-width: 1250px) {
    .mv .mv-img {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .mv .sns {

        position: fixed;
        top: auto;
        bottom: 15px;
        left: 20px;
        flex-direction: row;
        align-items: flex-end;
        gap: 0 25px;
        margin-left: 0;
    }

    .mv .sns img {
        width: 20px;
    }

    .mv .mv-img {
        width: 80%;
    }



}

/*
// -----------------------------------------------------------------
// MV
// ----------------------------------------------------------------- 
*/







/*
// -----------------------------------------------------------------
// NEWS
// ----------------------------------------------------------------- 
*/
.news .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 106px;
}

.news .news-lists {
    width: 100%;
}

.news .news-list {
    width: 690px;
    margin: 0 auto;
    border-top: 1px solid #fff;
}

.news .news-list .text {
    line-height: 1.6;
}

.news .news-list:last-child {
    border-bottom: 1px solid #fff;
}

.news .news-list .link {
    font-size: 15px;
    display: flex;
    padding: 1.4em 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.news .news-list .link .date {
    margin-right: 30px;
}

@media screen and (max-width: 900px) {
    .news .news-list {
        width: 90%;
    }

    .news .news-list .link {
        flex-direction: column;
        gap: 10px 0;
    }

}

/*
// -----------------------------------------------------------------
// NEWS
// ----------------------------------------------------------------- 
*/






/*
// -----------------------------------------------------------------
// intro
// ----------------------------------------------------------------- 
*/

.intro .inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .subtitle {
    margin-top: 1.2em;
}

.intro .title-box {
    display: block;
    position: absolute;
    top: 110px;
    left: 150px;
}

.intro .title-box.-active {
    /* top: 50px;
    left: 50px; */
}

.modal-box {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.intro .desc .text-box {
    text-align: center;
    position: absolute;
    top: 360px;
    left: 190px;
    width: 450px;
    z-index: 10;
}

.desc .text-box .text {
    text-align: justify;
}

.intro .desc .text-box .text {
    line-height: 2.5;
    text-align: left;
}

.all-text-box {
    touch-action: auto;
}

.intro .all-text-box {
    position: absolute;
    top: 360px;
    /* left: 190px; */
    left: 0;

    overflow: scroll;
    /* width: 690px; */
    /* height: 500px; */
    height: calc(100vh - 360px);
    width: 100%;
    ;
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    pointer-events: none;
}

.intro .all-text-box::-webkit-scrollbar {
    display: none;
}

.intro .all-text-box.-active {
    pointer-events: all;
}

.intro .button {
    z-index: 10;
    margin-top: 27px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

.intro.-active .open-button {
    pointer-events: none;
}


.intro .close-button {
    position: absolute;
    top: 43px;
    right: 60px;
    z-index: 100;
}

.blur-layer {
    pointer-events: none !important;
}

/* blur layer：初期状態は丸マスク */
.intro .blur-layer {
    top: 150px;
    left: 0;
}


/* 活性時：scale拡大+border-radiusで角形に+マスク切り替え */
.intro .blur-layer.-active {
    left: 30%;
    transform: translateY(-50%) scale(4);
}


@media screen and (max-width: 768px) {
    .intro .close-button {
        top: 0px;
        right: 20px;
    }

    .intro .all-text-box {
        top: 310px;
        height: calc(100vh - 310px);
    }

    .intro .title-box {
        width: 100%;
        top: 8%;
        left: 6%;
    }

    .intro .blur-layer {
        width: 150vw;
        left: -30%;
        top: 22%;
    }

    .intro .desc .text-box .text,
    .story .desc .text-box .text {
        font-size: 14px;
    }

    .intro .desc .text-box {
        top: 34%;
        left: 6%;
        width: 70%;
        text-align: left;
    }

    .intro .button {
        margin-right: auto;
    }

}


/*
// -----------------------------------------------------------------
// intro
// ----------------------------------------------------------------- 
*/




/*
// -----------------------------------------------------------------
// story
// ----------------------------------------------------------------- 
*/
.story .inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story .subtitle {
    margin-top: 1.2em;
}

.story .title-box {
    display: block;
    position: absolute;
    top: 240px;
    right: 430px;
    transition: transform 1.5s ease;
    will-change: transform;
}

.story .title-box.-active {
    /* top: 50px;
    right: calc(100vw - 284px - 100px); */
    /* 284pxはタイトルの幅 */
}

.story .desc .text-box {
    text-align: center;
    position: absolute;
    top: 370px;
    right: 160px;
    width: 450px;
    z-index: 10;
}



.story .desc .text-box .text {
    line-height: 2.5;
}

.story .all-text-box {
    position: absolute;
    top: 186px;
    left: 0;

    overflow: scroll;
    height: calc(100vh - 200px);
    width: 100%;
    ;
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    pointer-events: none;

}

.story .all-text-box::-webkit-scrollbar {
    display: none;
}

.story .all-text-box.-active {
    pointer-events: all;
}


.story .button {
    z-index: 10;
    margin-top: 32px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

.story.-active .open-button {
    pointer-events: none;
}


.story .close-button {
    position: absolute;
    top: 40px;
    right: 60px;
    z-index: 100;
}

/* blur layer：初期状態は丸マスク */
.story .blur-layer {
    top: 100px;
    right: 10px;
}


/* 活性時：scale拡大+border-radiusで角形に+マスク切り替え */
.story .blur-layer.-active {
    left: 30%;
    transform: translateY(-50%) scale(4);
}

@media screen and (max-width: 768px) {
    .story .text-box {
        width: 100%;
    }

    .story .title-box {
        top: 8%;
        right: 5%;
    }

    .story .desc .text-box {
        top: 19%;
        right: 6%;
        width: 70%;
        text-align: left;
    }

    .story .button {
        display: block;
        margin-left: auto;
        margin-right: 0;
    }

    .story .blur-layer {
        width: 150vw;
        right: -30%;
        top: 10%;
    }

    .story .close-button {
        top: 0px;
        right: 20px;
    }

}

/* .story video {
    opacity: 0;
} */

/*
// -----------------------------------------------------------------
// story
// ----------------------------------------------------------------- 
*/



/*
// -----------------------------------------------------------------
// trailer
// ----------------------------------------------------------------- 
*/


.trailer .movie-box {
    position: relative;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trailer .movie-box .link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
    .trailer .movie-box {
        width: 85%;
    }

    .trailer .movie-box .link {
        width: 19%;
    }
}

/*
// -----------------------------------------------------------------
// trailer
// ----------------------------------------------------------------- 
*/

/*
// -----------------------------------------------------------------
// cast
// ----------------------------------------------------------------- 
*/
.swiper {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1 !important;
}

.swiper .swiper-slide::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.swiper .swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cast {
    height: 100%;
}


.cast .inner {
    height: auto;
}

.cast .title-box {
    position: sticky;
    top: 75px;
}



.cast .cast-lists,
.staff-lists {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cast .cast-lists {
    margin-top: 10em;
}

.staff-lists {
    margin-top: 400px;
    gap: 3em 0;
}


.cast .cast-list {
    line-height: 3;
}

.staff-list {
    line-height: 2;
}

.staff-list {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}

.staff-list.-director {
    margin-top: 600px;
}


.staff-list dt {
    width: 20em;
    text-align: right;
    padding-right: .9em;
}

.staff-list dd {
    padding-left: .9em;
    width: 20em;
    text-align: left;
    display: flex;
    flex-direction: column;
}


.cast .cast-list.-margin {
    margin-bottom: 4em;
}

@media screen and (max-width: 768px) {
    .cast .title {
        font-size: 42px;
    }

    .cast .subtitle {
        font-size: 10px;
    }

    .cast-list {
        font-size: 14px;
    }

    .staff-list {
        font-size: 14px;
    }

    .staff-list {
        display: flex;
        flex-direction: column;
    }

    .staff-list.-director {
        /* margin-top: 400px; */
    }


    .staff-list dt {
        width: 100%;
        text-align: center;
        padding-right: 0;
        font-size: 11px;
        margin-bottom: .4em;
    }

    .staff-list dd {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
}


/*
// -----------------------------------------------------------------
// cast
// ----------------------------------------------------------------- 
*/


/*
// -----------------------------------------------------------------
// footer
// ----------------------------------------------------------------- 
*/

.footer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px !important;
}

.footer .inner {
    height: auto;
    padding-bottom: 0;
}

.footer .cast-lists {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 6em 0;
}

.footer .cast-list {
    line-height: 3;
}

.footer .img-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 55px 0;
    width: 100%;
    opacity: 0;
    margin-top: 400px;
    transition: opacity 0.8s;
}

.footer .sns {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.footer .copy {
    margin-top: 75px;
}




.footer.end .img-box {
    opacity: 1;
}

/*
// -----------------------------------------------------------------
// footer
// ----------------------------------------------------------------- 
*/

@media screen and (max-width: 768px) {}

.rect-blur {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    mask: url(#soft-rect-mask);
    -webkit-mask: url(#soft-rect-mask);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 100;
    pointer-events: none;
}